In [1]:
import pandas as pd
import numpy as np
import statistics as stat
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
Dataset_OIL_GAS=pd.read_excel('Data_No_Conv_Arg.xlsx')
Dataset_Linea144=pd.read_excel('Linea144.xlsx')
Dataset_Dolar_Futuro=pd.read_excel('Tipo_Cambio_USD_Futuro.xlsx')

## Datos Producción Petróleo y Gas Argentina
Este dataset contiene información sobre el historico de pozos no convencionales terminados en Argentina. Contiene detalle segun el pozo, formación, tipo de reservorio, yacimiento, concesión y provincia, longitud de rama horizontal, cantidad de etapas de fractura, tipo de terminacion, toneladas de arena bombeada nacional e importada, agua inyectada, CO2 inyectado, presion maxima, potencia de equipos de fractura, fechas de inicio y fin de fractura y empresa informante.Las variables potencialmente interesantes serian ACUM OIL 1_year y ACUM_Gas_1_year ya que a partir de las mismas podriamos predecir la rentabilidad de los pozos.

In [3]:
Dataset_OIL_GAS

,id_base_fractura_adjiv,idpozo,sigla,cuenca,areapermisoconcesion,yacimiento,formacion_productiva,tipo_reservorio,subtipo_reservorio,longitud_rama_horizontal_m,...,anio_ff,mes_ff,anio_carga,mes_carga,empresa_informante,mes,anio,GOR,ACUM OIL 1_year,ACUM_Gas_1_year
0,1921,7023,TPT.Ch.S-2203,GOLFO SAN JORGE,EL TORDILLO,EL TORDILLO,comodoro rivadavia,CONVENCIONAL,NaN,0.0,...,2010,1,2019,10,TECPETROL S.A.,1,2010,NaN,NaN,NaN
1,1923,6722,TPT.Ch.S-2028,GOLFO SAN JORGE,EL TORDILLO,EL TORDILLO,mina el carmen,CONVENCIONAL,NaN,0.0,...,2010,2,2019,10,TECPETROL S.A.,2,2010,NaN,NaN,NaN
2,1924,7107,TPT.Ch.S-2161,GOLFO SAN JORGE,EL TORDILLO,EL TORDILLO,comodoro rivadavia,CONVENCIONAL,NaN,0.0,...,2010,2,2019,10,TECPETROL S.A.,2,2010,NaN,NaN,NaN
3,1925,127013,TPT.Ch.S-2553,GOLFO SAN JORGE,EL TORDILLO,EL TORDILLO,mina el carmen,CONVENCIONAL,NaN,0.0,...,2010,3,2019,10,TECPETROL S.A.,3,2010,NaN,NaN,NaN
4,1926,6449,TPT.Ch.S-2309,GOLFO SAN JORGE,EL TORDILLO,EL TORDILLO,comodoro rivadavia,CONVENCIONAL,NaN,0.0,...,2010,4,2019,10,TECPETROL S.A.,4,2010,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,3587,162945,YPF.Nq.LLL-1612(h),NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,vaca muerta,NO CONVENCIONAL,SHALE,3443.0,...,2021,11,2022,4,YPF S.A.,10,2021,0.103247,NaN,NaN
3199,3588,162946,YPF.Nq.LLL-1613(h),NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,vaca muerta,NO CONVENCIONAL,SHALE,3888.0,...,2021,11,2022,4,YPF S.A.,10,2021,0.089978,NaN,NaN
3200,3589,162943,YPF.Nq.LLL-1610(h),NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,vaca muerta,NO CONVENCIONAL,SHALE,4145.0,...,2021,11,2022,4,YPF S.A.,10,2021,0.091336,NaN,NaN
3201,3600,163074,YPF.Nq.LLL-1600(h),NEUQUINA,LOMA CAMPANA,LOMA CAMPANA-LLL,vaca muerta,NO CONVENCIONAL,SHALE,1750.0,...,2021,12,2022,4,YPF S.A.,11,2021,0.192565,NaN,NaN
3202,3753,163419,YPF.Nq.BdT.x-16(h),NEUQUINA,BAJO DEL TORO NORTE,BAJO DEL TORO NORTE,vaca muerta,NO CONVENCIONAL,SHALE,2467.0,...,2021,12,2022,9,YPF S.A.,12,2021,0.170354,NaN,NaN

In [4]:
Dataset_OIL_GAS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203 entries, 0 to 3202
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_base_fractura_adjiv        3203 non-null   int64
 1   idpozo                        3203 non-null   int64
 2   sigla                         3203 non-null   object
 3   cuenca                        3203 non-null   object
 4   areapermisoconcesion          3203 non-null   object
 5   yacimiento                    3203 non-null   object
 6   formacion_productiva          3203 non-null   object
 7   tipo_reservorio               3174 non-null   object
 8   subtipo_reservorio            2341 non-null   object
 9   longitud_rama_horizontal_m    3203 non-null   float64
 10  cantidad_fracturas            3203 non-null   int64
 11  tipo_terminacion              3203 non-null   object
 12  arena_bombeada_nacional_tn    3203 non-null   float64
 13  arena_bombeada_importada_tn   3203 non-null   float64
 14  agua_inyectada_m3             3203 non-null   float64
 15  co2_inyectado_m3              3203 non-null   int64
 16  presion_maxima_psi            3203 non-null   int64
 17  potencia_equipos_fractura_hp  3152 non-null   float64
 18  fecha_inicio_fractura         3203 non-null   object
 19  fecha_fin_fractura            3203 non-null   object
 20  fecha_data                    3203 non-null   datetime64[ns]
 21  anio_if                       3203 non-null   int64
 22  mes_if                        3203 non-null   int64
 23  anio_ff                       3203 non-null   int64
 24  mes_ff                        3203 non-null   int64
 25  anio_carga                    3203 non-null   int64
 26  mes_carga                     3203 non-null   int64
 27  empresa_informante            3203 non-null   object
 28  mes                           3203 non-null   int64
 29  anio                          3203 non-null   int64
 30  GOR                           2339 non-null   object
 31  ACUM OIL 1_year               2142 non-null   float64
 32  ACUM_Gas_1_year               2142 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(13), object(12)
memory usage: 825.9+ KB

In [5]:
print(Dataset_OIL_GAS['ACUM OIL 1_year'].describe())
print(Dataset_OIL_GAS['ACUM_Gas_1_year'].describe())

count     2142.000000
mean       612.512672
std       1060.750052
min          0.000000
25%          1.142500
50%        106.793350
75%        766.787500
max      11034.000000
Name: ACUM OIL 1_year, dtype: float64
count     2142.000000
mean      1392.991734
std       2332.834161
min          0.000000
25%        114.817400
50%        352.770000
75%       1457.942250
max      15370.900000
Name: ACUM_Gas_1_year, dtype: float64

## Datos Historicos Llamados Linea 144
Este dataset contine datos sobre los llamados de emergencia registrados en la Linea 144. Esta linea telefonica esta destinada a recibir llamados de emergencia por viloencia de genero. Las personas se comunican a esta linea para dejar sus datos voluntariamente para un seguimiento. Estos regustros corresponden a tres sedes que gestionan la Linea 144: Provincia de Buenos Aires, CABA y la sede de gestion nacional. Los datos corresponden a los años 2020, 2021 y hasta septiempre de 2022. Las variables potencialmente interesantes serian el "genero de la persona en situasión de violencia", "edad de la persona en situacion de violencia" y "vinculo con la persona agresora" ya que esto permitiria realizar una mejor segmentación de las campañas contra la violencia de genero.

In [6]:
Dataset_Linea144

,fecha,prov_residencia_persona_en_situacion_violencia,genero_persona_en_situacion_de_violencia,edad_persona_en_situacion_de_violencia,pais_nacimiento_persona_en_situacion_de_violencia,tipo_de_violencia_fisica,tipo_de_violencia_psicologica,tipo_de_violencia_sexual,tipo_de_violencia_economica_y_patrimonial,tipo_de_violencia_simbolica,tipo_de_violencia_domestica,modalidad_de_violencia_institucional,modalidad_de_violencia_laboral,modalidad_violencia_contra_libertad_reproductiva,modalidad_de_violencia_obstetrica,modalidad_de_violencia_mediatica,modalidad_de_violencia_otras,vinculo_con_la_persona_agresora,genero_de_la_persona_agresora
0,2020-01-01,Tucumán,Mujer,NaN,NaN,Si,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon
1,2020-01-01,Buenos Aires,Mujer,39.0,NaN,Si,Si,No,No,No,Si,No,No,No,No,No,No,Ex pareja,Varon
2,2020-01-01,Buenos Aires,Mujer,22.0,Argentina,Si,Si,No,No,No,Si,No,No,No,No,No,No,Ex pareja,Varon
3,2020-01-01,Buenos Aires,Mujer,53.0,NaN,No,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon
4,2020-01-01,Buenos Aires,Mujer,38.0,Argentina,Si,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73489,2022-09-30,Buenos Aires,Mujer,53.0,Argentina,Si,Si,Si,No,No,Si,No,No,No,No,No,No,Pareja,Varon
73490,2022-09-30,Buenos Aires,Mujer,82.0,Argentina,Si,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon
73491,2022-09-30,Buenos Aires,Mujer,52.0,Argentina,No,Si,Si,No,Si,Si,No,No,No,No,No,No,Ex pareja,Varon
73492,2022-09-30,Buenos Aires,Mujer,NaN,NaN,No,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon
73493,2022-09-30,Buenos Aires,Mujer,29.0,NaN,Si,Si,No,No,No,Si,No,No,No,No,No,No,Pareja,Varon

In [7]:
Dataset_Linea144.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73494 entries, 0 to 73493
Data columns (total 19 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   fecha                                              73494 non-null  datetime64[ns]
 1   prov_residencia_persona_en_situacion_violencia     72422 non-null  object
 2   genero_persona_en_situacion_de_violencia           72055 non-null  object
 3   edad_persona_en_situacion_de_violencia             59232 non-null  float64
 4   pais_nacimiento_persona_en_situacion_de_violencia  48748 non-null  object
 5   tipo_de_violencia_fisica                           73494 non-null  object
 6   tipo_de_violencia_psicologica                      73494 non-null  object
 7   tipo_de_violencia_sexual                           73494 non-null  object
 8   tipo_de_violencia_economica_y_patrimonial          73494 non-null  object
 9   tipo_de_violencia_simbolica                        73494 non-null  object
 10  tipo_de_violencia_domestica                        73494 non-null  object
 11  modalidad_de_violencia_institucional               73494 non-null  object
 12  modalidad_de_violencia_laboral                     73494 non-null  object
 13  modalidad_violencia_contra_libertad_reproductiva   73494 non-null  object
 14  modalidad_de_violencia_obstetrica                  73494 non-null  object
 15  modalidad_de_violencia_mediatica                   73494 non-null  object
 16  modalidad_de_violencia_otras                       73494 non-null  object
 17  vinculo_con_la_persona_agresora                    70821 non-null  object
 18  genero_de_la_persona_agresora                      66057 non-null  object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 10.7+ MB

In [8]:
Dataset_Linea144.describe()

       edad_persona_en_situacion_de_violencia
count                            59232.000000
mean                                35.800581
std                                 12.704925
min                                  1.000000
25%                                 27.000000
50%                                 34.000000
75%                                 43.000000
max                                127.000000

## Tipo de Cambio Dolar Futuro
Este dataset contiene informacion sobre los tipos de cambio historico que existieron en Argentina desde marzo 2002 hasta la actualidad. Datos provenientes del Banco Central. Las variables potencialmente podrian ser "tipo_cambio_a3500" y "tipo_cambio_implicito_en_adrs" ya que estas permitirian analizar cual se acerca mas a las licitaciones del dolar futuro.

In [9]:
Dataset_Dolar_Futuro

,indice_tiempo,tipo_cambio_bna_vendedor,tipo_cambio_a3500,tipo_cambio_mae,volumen_mae,tipo_cambio_implicito_en_adrs,futuro_rofex_usd1m,interes_abierto_1m,futuro_rofex_usd2m,interes_abierto_2m,futuro_rofex_usd3m,interes_abierto_3m,futuro_rofex_usd4m,interes_abierto_4m,futuro_rofex_usd5m,interes_abierto_5m,futuro_rofex_usd6m,interes_abierto_6m
0,2002-03-05,NaN,1.9917,NaN,NaN,2.180124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-03-06,NaN,2.0508,NaN,NaN,2.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-03-07,NaN,2.1375,NaN,NaN,2.343949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-03-08,NaN,2.2033,NaN,NaN,2.227778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-03-09,NaN,2.2033,NaN,NaN,2.227778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7571,2022-11-26,171.75,165.5883,165.59,NaN,326.709677,167.25,2617218.0,181.45,892742.0,197.10,215112.0,211.4,167711.0,226.95,85633.0,241.50,71386.0
7572,2022-11-27,171.75,165.5883,165.59,NaN,326.709677,167.25,2617218.0,181.45,892742.0,197.10,215112.0,211.4,167711.0,226.95,85633.0,241.50,71386.0
7573,2022-11-28,172.75,166.6250,166.60,NaN,322.547771,167.25,2532716.0,181.00,949281.0,196.85,255513.0,211.0,190995.0,226.60,91476.0,241.00,73784.0
7574,2022-11-29,173.75,166.9550,166.96,NaN,321.969697,167.25,2475050.0,181.20,1038284.0,196.90,274886.0,211.0,186531.0,226.50,86880.0,240.75,74841.0
7575,2022-11-30,174.25,167.2550,167.28,NaN,322.160494,167.26,2475050.0,181.50,1759704.0,197.90,367128.0,212.0,197825.0,227.40,90142.0,241.50,86626.0

In [10]:
Dataset_Dolar_Futuro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7576 entries, 0 to 7575
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   indice_tiempo                  7576 non-null   datetime64[ns]
 1   tipo_cambio_bna_vendedor       2950 non-null   float64
 2   tipo_cambio_a3500              7576 non-null   float64
 3   tipo_cambio_mae                5265 non-null   float64
 4   volumen_mae                    3334 non-null   float64
 5   tipo_cambio_implicito_en_adrs  7574 non-null   float64
 6   futuro_rofex_usd1m             5080 non-null   float64
 7   interes_abierto_1m             5080 non-null   float64
 8   futuro_rofex_usd2m             5080 non-null   float64
 9   interes_abierto_2m             5080 non-null   float64
 10  futuro_rofex_usd3m             5080 non-null   float64
 11  interes_abierto_3m             5080 non-null   float64
 12  futuro_rofex_usd4m             5080 non-null   float64
 13  interes_abierto_4m             5080 non-null   float64
 14  futuro_rofex_usd5m             5080 non-null   float64
 15  interes_abierto_5m             5080 non-null   float64
 16  futuro_rofex_usd6m             5080 non-null   float64
 17  interes_abierto_6m             5080 non-null   float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 1.0 MB

In [11]:
Dataset_Dolar_Futuro.describe()

,tipo_cambio_bna_vendedor,tipo_cambio_a3500,tipo_cambio_mae,volumen_mae,tipo_cambio_implicito_en_adrs,futuro_rofex_usd1m,interes_abierto_1m,futuro_rofex_usd2m,interes_abierto_2m,futuro_rofex_usd3m,interes_abierto_3m,futuro_rofex_usd4m,interes_abierto_4m,futuro_rofex_usd5m,interes_abierto_5m,futuro_rofex_usd6m,interes_abierto_6m
count,2950.000000,7576.000000,5265.000000,3.334000e+03,7574.000000,5080.000000,5.080000e+03,5080.000000,5.080000e+03,5080.000000,5.080000e+03,5080.000000,5.080000e+03,5080.000000,5.080000e+03,5080.000000,5.080000e+03
mean,51.511792,21.676986,29.840219,2.181936e+05,34.099800,31.321947,9.459887e+05,32.686207,6.563801e+05,34.154073,4.534389e+05,35.626203,3.308300e+05,37.094132,2.521474e+05,38.552874,1.987938e+05
std,42.474462,33.617925,37.518381,1.402885e+05,64.604119,38.631218,7.948782e+05,40.923944,4.715900e+05,43.482398,3.697091e+05,46.062289,3.249175e+05,48.646232,2.585479e+05,51.199880,2.525347e+05
min,8.490000,1.991700,3.012000,5.000000e+02,2.180124,3.470000,1.300000e+01,3.510000,2.870000e+02,3.550000,2.002200e+04,3.590000,3.279600e+04,3.630000,2.900000e+04,3.670000,8.305000e+03
25%,15.500000,3.144800,4.334000,1.201000e+05,3.168390,4.530000,4.228200e+05,4.597500,3.661428e+05,4.660000,2.713700e+05,4.737500,1.804002e+05,4.817500,1.239390e+05,4.890000,8.401725e+04
50%,38.300000,4.552250,9.371000,1.811750e+05,6.395845,11.385000,6.328020e+05,11.655000,5.232780e+05,11.890000,3.565580e+05,12.170000,2.510340e+05,12.465000,1.847450e+05,12.770000,1.292060e+05
75%,85.500000,17.352650,42.440000,2.840550e+05,17.351465,44.855000,1.102817e+06,46.787500,7.814330e+05,49.100000,5.108582e+05,51.100000,3.694368e+05,53.175000,2.821272e+05,55.360000,2.414930e+05
max,174.250000,167.255000,167.280000,1.546850e+06,336.172007,168.700000,4.438237e+06,184.050000,4.416601e+06,200.500000,3.430609e+06,215.150000,3.436969e+06,231.700000,2.763188e+06,246.500000,2.766503e+06